.todo-list-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    margin-top: 4rem;
}

.title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #20c997;
    color: white;
}

.color-wrapper {
    padding : 1rem;
    background: rgba(237, 245, 233, 0.507);
    min-height: 2rem;
}

.form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #20c997;
}

.todos-wrapper {
    min-height: 5rem;
}

